#contenedor form{
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: #030303;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

#formulario{
margin: 0 auto;
}
#topic p {
    font-size: x-large;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
    text-decoration: none;
    color: white;
    padding: 2px;
    background-color: #005555;
    text-align: center;

}
a:link {
    color: white;
    font-weight: bold;
    text-decoration:none;
}
a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
